button{
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.scan_bt{
	margin: 0 auto;
    width: 80%;
}

.img_block{
    max-height: 250px;
    max-width: 330px;
}

.img_area{
    border: .5px solid #a5a5a5;
}

#sourceImage{
    max-height: 250px;
    max-width: 100%;
}

#imageDiv{
    width: 80%;
    height: 260px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    line-height: 260px;
    margin: 0 auto;
}

.abcRioButtonBlue{
    background-color: #4285f4;
    width: 80%!important;
    margin: 0 auto;
}

#regist_bt{
    width: 90%;
    line-height: 2.8;
    margin: 0 auto;
}